app = "achiever-backend"
primary_region = "sjc"

[build]

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = true
auto_start_machines = true
min_machines_running = 0

[env]
SPRING_PROFILES_ACTIVE = "prod"